@font-face { 
    font-family: "PT Sans";
    src: 	local("PT Sans"),
			url(../fonts/ptsans.woff2) format("woff2"),
			url(../fonts/ptsans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: "PT Sans";
    src: 	local("PT Sans"),
			url(../fonts/ptsansbold.woff2) format("woff2"),
			url(../fonts/ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

html { 
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase; 

	background-color: #f2f2f2;  
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;	
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	position: relative;
	
	width: 100%;
	max-width: 1200px;	
	margin: 0 auto;
	
	background: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.button {
	display: inline-block;
	
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;	
	
	cursor: pointer;
}

.button-wide {
	width: 576px;
	line-height: 86px;		
}

.button-full-width {
	width: 100%;
	margin-top: 55px;
	line-height: 58px;
}

.button-small {
	padding: 0 17px;
	line-height: 27px;
	font-weight: 700;
}

.button-wide,
.button-full-width {
	font-size: 21px;
	font-weight: 700;
}

.button-brown,
.button-blue {	
	color: #fff;	
	border: none;
}

.button-brown {	
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	color: #fff;
	background-color: #604e43;
}

.button-brown:active {
	color: #928a85;
	background-color: #503e33;
}

.button-blue {		
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	color: #fff;
	background-color: #669ec0;
}

.button-blue:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.button-empty-white {
	padding: 0 35px;
	
	color: #ffffff;
	font-weight: 400;
	line-height: 32px;
	
	background: none;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.button-empty-white:hover,
.button-empty-white:focus {
	color: #000000;
	background-color: #ffffff;
}

.button-empty-white:active {
	background-color: #bdbbbc;
	border-color: #bdbbbc;
}

.column-one-third {
	width: 33.33%;
}

/* HEADER */

.main-navigation {
	position: relative;
}

.menu-top {
	display: flex;
	flex-wrap: wrap;
	padding: 0 73px;
	margin: 0;
	width: 100%;
	
	list-style: none;
}

.menu-top li {
	width: 25%;
	line-height: 56px;	
}

.menu-item-right {
	text-align: right;
}

.menu-top a {
	color: #000000;
	font-weight: 700;
}

.menu-top a:hover,
.menu-top a:focus {
	color: #81b3d2;
}

.menu-top a:active {
	color: #cacaca;
}

.current-page-menu-item a,
.current-page-menu-item a:hover,
.current-page-menu-item a:focus {
	color: #766357;	
}

.logo-sedona {
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%, 0);
}

/* HEADER */

/* INDEX MAIN CONTENT */

.header-regular {
	margin-bottom: 40px;
	font-size: 21px;
	line-height: 26px;
}

.section-welcome {	
	height: 510px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-image: 
		url("../img/intro-mask.svg"),
		url("../img/bg-mountains.jpg");
	background-size:
		100% auto,
		cover;
	background-position:
		50% 100%,
		50% -50px;
	background-repeat: no-repeat;	
}

.content-center {
	padding: 60px 25%;	
	text-align: center;
}

.reasons {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.reason {
	width: 33.33%;
	height: 255px;
	padding: 0 60px;
	
	text-align: center;
}

.reason .header-regular {
	margin-bottom: 30px;
	line-height: 21px;
}

.reason-number {
	display: block;
	margin-bottom: 30px;
}

.booking-form-wrapper {
	position: relative;	
	z-index: 300;	
	width: 576px;
	margin: 0 auto;
}

.booking-form {
	position: absolute;
	top: 100%;
	left: 0;
	
	width: 100%; 
	padding: 60px;
	
	background-color: #fff;
}

.booking-form label {
	font-weight: 700;
}

.form-row-full,
.form-row-half {
	display: flex;
}

.form-row-full label {
	width: 25%;
}

.form-row-half label {
	width: 50%;
}

.section-location {
	position: relative;
}

.map-img {
	position: relative;
	z-index: 100;
	display: block;
}

.map-js {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	
	width: 100%;
	height: 100%;
}

.block-blue {
	color: #fff;
	background-color: #81b3d2; 
}

.block-gray {
	background-color: #eeeeee; 
}

/* INDEX MAIN CONTENT */

/* HOTELS MAIN CONTENT */

.section-filters {
	height: 220px;
	padding: 30px 73px;
	
	color: #fff;
	
	background: url("../img/bg-mountains-2.jpg") 50% 50% no-repeat;
	background-size: cover;
}

.section-filters form {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.filters-column-2 {
	flex-grow: 1;
	margin-left: 115px;	
}

.section-filters label {
	display: block;
}

.section-filters label{
	margin-top: 23px;
}

.section-filters label:first-of-type {
	margin-top: 0;
}

.section-filters .button-empty-white {
	display: block;
	margin: 20px auto 0 auto;
}

.header-small,
.header-small-price {
	margin-top: 0;
	font-size: 16px;
}

.header-small {
	margin-bottom: 30px;
}

.header-small-price {
	margin-bottom: 15px;
}

.hotels-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels-list li {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hotel-item {
	display: flex;
	justify-content: space-between;	
}

.hotel-description {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
}

.hotel-description .header-regular{
	margin: 0;
}

.hotel-type {
	display: flex;
}

.type {
	min-width: 118px;
}

.hotel-buttons {
	display: flex;
}

.hotel-buttons button {
	margin-left: 6px;
}

.hotel-meta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.stars {
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space no-repeat;	
}

.stars-1 {
	width: 18px;
}

.stars-2 {
	width: 41px;
}

.stars-3 {
	width: 65px;
}

.stars-4 {
	width: 88px;
}

.stars-5 {
	width: 114px;
}

.rating {
	padding: 0 17px;
	
	color: #666666;
	text-transform: uppercase;
	text-align: center;
	line-height: 27px;
	
	background-color: #f2f2f2;
}

.sorting {
	padding-top: 32px;
	padding-bottom: 32px;
}

.hotels-list li,
.sorting {
	padding-left: 73px; 
	padding-right: 73px; 
	border-bottom: 1px solid #e5e5e5;
}

/* HOTELS MAIN CONTENT */

/* FOOTER */

.main-footer {
	position: absolute;
	bottom: 0;
	z-index: 400;
}

.main-footer,
.inner-page-footer {
	display: flex;
	width: 100%;
	height: 120px;	
	background-color: rgba(255,255,255,0.9);	
}

.footer-column {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-column:first-child {
	flex-direction: column;	
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.hashtag {
	margin-bottom: 8px;
}

.tel a {
	color: #000000;
}

.tel a:hover,
.tel a:focus {
	color: #81b3d2;
}	

.social-links {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-links li {
	margin: 0 3px;
}

.social-link {
	display: block;
	width: 48px;
	height: 48px;
	
	text-align: center;
	line-height: 54px;
	
	background: #81b3d2;
}

.social-link svg {
	fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
	background: #669ec0;
}

.social-link:active {
	background: #5496bd;
}

.social-link:active svg {
	fill: #88b6d1;
}

.icon-fb {
	padding-top: 3px;
}

.logo-htmla,
.logo-htmla svg {
	width: 115px;
	height: 39px;
}

.logo-htmla {
	margin-left: 8px;
}

.logo-htmla:hover svg,
.logo-htmla:focus svg {
	fill: #81b3d2;
}

.logo-htmla:active svg {
	fill: #bdbbbc;
}

/* FOOTER */